/* style.css */

body {
  background-color: #222;
  font-family: 'Courier New', monospace;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  background-color: #444;
  border: 2px solid #888;
  color: #f0f0f0;
  cursor: pointer;
  font-family: 'Courier New', monospace;
  font-size: 16px;
  padding: 5px 10px;
  margin-top: 5px;
}

button:hover {
  background-color: #555;
  border-color: #999;
}

#combat-log {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 520px;
  height: 300px;
  overflow-y: scroll;
  background-color: #000;
  color: #0f0;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  white-space: pre;
}

#combat-log > p {
  margin: 0 0 5px;
}

#character-select {
  max-width: 200px;
  width: 100%;
}

.health-bar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.health-bar {
  background-color: #f00;
  height: 20px;
}

.health-bar-inner {
  background-color: #0f0;
  height: 100%;
}
